/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 18px;
}

.header {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-font-weight);
  border: var(--border);
  width: 100%;
  max-width: 700px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: clamp(120px, 110.7696px + 2.4615vw, 128px);
  padding-bottom: clamp(120px, 110.7696px + 2.4615vw, 128px);
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.header__title {
  font-size: clamp(49px, 30.5392px + 4.9231vw, 65px);
  text-align: center;
  text-transform: uppercase;
}

.header__text {
  font-size: clamp(14px, 3.616px + 2.7692vw, 23px);
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.card {
  width: 100%;
  max-width: 700px;
  background-color: var(--bg-color);
  border: var(--border);
  margin-bottom: 51px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--accent-font-weight);
  color: var(--color);
  padding: 4px 10px 4px 10px;
}

.card__image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-top: var(--border);
  border-bottom: var(--border);
}

.card__image-label {
  position: absolute;
  right: clamp(11px, -6.3072px + 4.6154vw, 26px);
  top: 23px;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-font-weight);
  font-size: 14px;
  color: var(--color);
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  mix-blend-mode: hard-light;
  object-fit: cover;
  object-position: center;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  padding: 25px;
}

.card__text:nth-of-type(2) {
  padding-top: 2px;
}

.card:nth-last-of-type(1) {
  margin-bottom: 50px;
}

.card__button {
  background-color: transparent;
  color: var(--color);
  border: var(--border);
  padding-top: 6px;
  padding-bottom: 6px;
  width: 130px;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--border);
}

.card__button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5px;
  margin-right: 25px;
  margin-bottom: 24px;
}

.button__text {
  position: relative;
  z-index: 2;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-font-weight);
  font-size: 14px;
  mix-blend-mode: difference;
  color: var(--bg-color);
}

.save-button__wrapper {
  padding-left: 32px;
  padding-right: 32px;
}

.save-button {
  background-color: var(--bg-color);
  color: var(--color);
  border: var(--border);
  padding: 14px clamp(10px, 0.7696px + 2.4615vw, 18px);
  margin-bottom: 100px;
  margin: 0 auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dialog {
  width: 351px;
  border: var(--border);
  padding: 29px 28px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__button {
  background-color: transparent;
  border: var(--border);
  display: block;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 30px;
  cursor: pointer;
}

.dialog__message {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__icon {
  flex-shrink: 0;
}

.dialog__wrapper {
  display: flex;
  gap: 18px;
  align-items: center;
}

.filter-saturate {
  filter: saturate(30%);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-invert {
  filter: invert(60%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-hue-rotate-opacity {
  filter: hue-rotate(100deg) opacity(0.3);
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  transition: border 0.3s ease;
  height: 39px;
}

@media (width < 375px) {
  .header__title {
    font-size: 40px;
  }

  .save-button__wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }

  .dialog {
    padding: 20px 14px;
  }

  .dialog__button {
    margin-top: 20px;
  }

  .dialog__wrapper {
    gap: 10px;
  }
}

.card__button:focus, .card__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--color);
}

.button:focus, .button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--color);
}

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color);
  top: 0;
  left: -100%;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(100%);
}

.save-button__icon {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--bg-color);
  width: clamp(21px, 36.0768px - 2.1538vw, 28px);
  height: clamp(21px, 36.0768px - 2.1538vw, 28px);
}

.sparks {
  opacity: 0;
}

.card__icon-button .contour {
  fill: var(--color);
  transition: fill 0.1s linear;
}

.card__icon-button .core {
  fill: var(--bg-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button .main-body {
  fill: var(--bg-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: grow 0.3s ease-in 0.1s;
}